@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}
body {
    background: linear-gradient(to right, #005fea, green);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.box {
    cursor: pointer;
    background-color: #fff;
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}
.box img {
    width: 100%;
    height: auto;
}

.box .content {
    position: absolute;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}
.box .content h3 { 
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #fff;
}
.box .content p { 
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    color: #fff;
}
button {
    padding: 10px 30px;
    border: none;
    background-color: blueviolet;
    color: #fff;
}
button:hover {
    background-color: rgb(77, 8, 141);
    color: #fff;
}
.box:hover img {
    width: 500px;
}
.box:hover .content {
    left: 0;
}


